<div class="content">
  <div class="frontend">
    <h1>Nathaniel Adam's Tech Stacks</h1>
    <h2>Front</h2>
    <p>
      Front end technologies are the "View", generally speaking if you look at
      any website these will be the languages doing the talking. They'll; be
      colorful and should flow while keeping the User Experience in mind to
      provide an easy to understand interface.
    </p>
    <h4>Angular</h4>
    <p>
      Front end framework utilizing Typescript, a superset of Javascript that
      comes front loaded with tools for routing, smart and lazy renders, and has
      long term support by google, ensuring that ensures that it will be
      receiving feature and optimization updates for the forseeable future.
    </p>
    <h4>React</h4>
    <p>
      React is a front end library, or framework depending on who you ask, that
      is lightweight and component based, with tools for handling state and
      routing for a smoothe lightweight applications for both mobile and
      desktop.
    </p>
    <h4>Front End Basics</h4>
    <p>
      HTML/Javascript/Css(SaSS) go hand in had for front end development. All
      play to eachothers strengths and allow for robust websites to be created,
      often these languages are used in conjuntion with a framwork to elevate
      how they're used, see above for examples.
    </p>
  </div>
  <hr />
  <div class="backend-imgs"></div>
  <div class="backend">
    <h2>Back</h2>
    <h4>Express</h4>
    <p>
      A Node.js backend that I learned while at Elevenfifty Academy, and have
      since used for various pet projects. Operates as a restful api and has
      many sub frameworks such as Express Handlebars that allow for quick and
      easy setups for projects or proof of concepts.
    </p>
    <h4>GraphQL</h4>
    <p>
      Publically released in 2015 after being internally developed by facebook,
      it operates as a querry tool that allows for lightweight responses in a
      restless fashion.
    </p>
  </div>
</div>
