<div class="content about-me">
  <h1>About Me</h1>

  <h3>Background</h3>
  <p>
    I'm Nathaniel Adam but that hardly tells you anything but a name. Though I
    have read that I is a poor word to include in anything as complex as a
    portfolio to be perused by people who have, in no small way, some say in my
    future, however to say anything about myself “I” is a well rounded
    identifier. So now that we know that I am generally easy going about your
    judgements, let's dig in.

    <br />
    After Graduating High School and finding that cooking, however engaging and
    a wonderful tool for stress relief, was sadly not something I could devote
    my life to professionally. I instead followed the advice of everyone at the
    time and decided to take a course at the Eleven Fifty Academy. I excelled
    and graduated, earning a small honor as someone who could learn and adapt
    well to situations, that's more of a skill and I'll speak more on that
    elsewhere. My time at the academy was spent speaking to fantastic
    individuals. They learned from me and I from them. We studied javaScript and
    it's relevant libraries, those being Angular and React, but ultimately we
    learned how to learn. If that's confusing and vague, I guess the best way to
    explain it is like this. Teaching is a skill, and people have different
    methods that they find where they learn best. What we studied in that time
    was how we learned best, and how to enforce that upon ourselves without the
    need for intervention.
  </p>
  <hr>
  <h3>The Fun Things</h3>
  <p>
    I love games, it's probably going to be extremly apparent by the fact that
    my first few C++ projects will more than likely be text adventures to play with the language and some logical operators, 
    then followed by a backends. The big crowning moment for me was beating my brother, and ending the younger brother curse.
    I am a nerd of games, and overall design principals, my favorite to generally talk about are conveyance and verticality.
  </p>
  
</div>
