.side-nav{
    height: 100%;
    width:10%;
    background-color:orange;
    position:fixed;
    left: 0;
    top: 0;
    border-right: 2px black solid;
}
.nav-item{
    width:75%;
    margin: 5px;
    text-align: left;
    border-bottom: solid rgb(4, 3, 68);
}
.side-title{
    padding: 5px;
    text-align: center;
}

.selected{
    font-weight: 100;
}